# configuration file for development environment

startup_info: 1
log: "core"
logger: "file"
warnings: 1
show_errors: 1
auto_reload: 0
no_server_tokens: 0

# Custom variables
top_level_dir: "t"
debug_level: 2
web_log_path: "logs/access.log"
