DANCER_EXEC="/usr/local/perl/bin/plackup"
APPDIR=/opt/fcollect/
PERL5LIB=/usr/local/perl/lib/perl5:/usr/local/perl/lib/perl5/x86_64-linux-thread-multi
USER=fcollect
GROUP=fcollect
ENVIRONMENT=production
PORT=3002
WORKERS=4
HOST=localhost
